In [16]:
import psycopg2
import os
import json

In [17]:
def connect_to_database(database, user, password, host, port):
    try:
        connection = psycopg2.connect(
            database=database,
            user=user,
            password=password,
            host=host,
            port=port
        )
        print("Connected to the database")
        return connection
    except psycopg2.Error as e:
        print(f"Error: Unable to connect to the database\n{e}")
        return None

def close_connection(connection, cursor):
    if connection:
        connection.close()
        print("Connection closed")
    if cursor:
        cursor.close()

In [18]:
def create_bds_table(cursor):
    query = '''
    CREATE TABLE IF NOT EXISTS BDS (
        post_id INT PRIMARY KEY,
        "Tên trang web" TEXT,
        "Loại tin" TEXT,
        "Loại BDS" TEXT,
        "Tiêu đề" TEXT,
        "Giá" TEXT,
        "Giá/m2" TEXT,
        "Diện tích" TEXT,
        "Diện tích sử dụng" TEXT,
        "Chiều rộng" TEXT,
        "Chiều dài" TEXT,
        "Hướng nhà" TEXT, 
        "Hướng ban công" TEXT,
        "Địa chỉ" TEXT,
        "Pháp lý" TEXT,
        "Số phòng ngủ" TEXT,
        "Số toilet" TEXT,
        "Chổ để xe hơi" TEXT,
        "Phòng ăn" TEXT,
        "Nhà bếp" TEXT,
        "Sân thượng" TEXT,
        "Tầng số" TEXT,
        "Số tầng" TEXT,
        "Nội thất" TEXT,
        "Mặt tiền" TEXT,
        "Đường trước nhà" TEXT,
        "Đường vào" TEXT,           
        "Chính chủ" TEXT,
        "Mô tả" TEXT,
        "URL" TEXT,
        "Tên người dùng" TEXT,
        "Liên hệ" TEXT,
        "Loại hình đất" TEXT,
        "Loại hình nhà ở" TEXT,
        "Loại hình căn hộ" TEXT,
        "Loại hình văn phòng" TEXT,
        card_visit TEXT,
        "Ngày crawl" TEXT,       
        "Đặc điểm nhà/đất" TEXT,
        "Đặc điểm căn hộ" TEXT,
        "Tên phân khu/Lô/Block/Tháp" TEXT,
        "Tình trạng bất động sản" TEXT,       
        "Thuộc dự án" TEXT,
        "Mã căn" TEXT,
        "Mã tin" TEXT,
        "Mã lô" TEXT,
        "Số tiền cọc" TEXT       
    )
    '''

    cursor.execute(query)
    return

In [24]:
file_path = 'd:/DUE/AI_Real_Estate/data/record/alonhadat/2023-10-18/huong_0.json'
with open(file_path, 'r', encoding='utf-8') as file:
    alonhadat = json.load(file)

file_path = 'd:/DUE/AI_Real_Estate/data/record/batdongsan/2023-11-16/huong_0.json'
with open(file_path, 'r', encoding='utf-8') as file:
    batdongsan = json.load(file)

file_path = 'd:/DUE/AI_Real_Estate/data/record/nhatot/2023-10-05/huong_0.json'
with open(file_path, 'r', encoding='utf-8') as file:
    nhatot = json.load(file)

In [ ]:
# List of JSON files and their corresponding columns
files_and_columns = [
    ("alonhadat.json", ['post_id', 'Loại tin', 'Tiêu đề', 'Mô tả', 'Giá:', 'Diện tích:', 'Địa chỉ', 'Mã tin', 'Hướng', 'Phòng ăn', 'Đường trước nhà', 'Nhà bếp', 'Loại BDS', 'Pháp lý', 'Sân thượng', 'Chiều ngang', 'Số lầu', 'Chổ để xe hơi', 'Chiều dài', 'Số phòng ngủ', 'Chính chủ', 'URL', 'date', 'Liên hệ', 'phone']),
    ("batdongsan.json", ['post_id', 'Loại tin', 'Tiêu đề', 'Địa chỉ', 'Mô tả', 'Diện tích', 'Mức giá', 'Số phòng ngủ', 'Số toilet', 'Pháp lý', 'URL', 'date', 'Liên hệ', 'card_visit']),
    ("nhatot.json", ['post_id', 'Loại tin', 'Tiêu đề', 'Địa chỉ', 'Mô tả', 'Diện tích', 'Mức giá', 'Số phòng ngủ', 'Số toilet', 'Pháp lý', 'URL', 'date', 'Liên hệ', 'card_visit'])
]

# Loop through files and insert data
for file, columns in files_and_columns:
    with open(file, 'r', encoding='utf-8') as json_file:
        data = json.load(json_file)
        for item in data:
            values = [item.get(col, '') for col in columns]
            insert_query = f"INSERT INTO BDS ({', '.join(['"' + col + '"' for col in columns])}) VALUES ({', '.join(['%s' for _ in columns])})"
            cursor.execute(insert_query, values)

In [25]:
# file_path = 'd:/DUE/AI_Real_Estate/alonhadat.json'
# with open(file_path, 'r', encoding='utf-8') as file:
#     for line in file:
#         alonhadat = json.loads(line)

# file_path = 'd:/DUE/AI_Real_Estate/batdongsan.json'
# with open(file_path, 'r', encoding='utf-8') as file:
#     for line in file:
#         batdongsan = json.loads(line)
        
# file_path = 'd:/DUE/AI_Real_Estate/nhatot.json'
# with open(file_path, 'r', encoding='utf-8') as file:
#     for line in file:
#         nhatot = json.loads(line)

In [26]:
database_name = "AI_Real_Estate"
username = "postgres"
password = "postgres01"
host = "localhost"
port = 5432

conn = connect_to_database(database_name, username, password, host, port)
cursor = conn.cursor()

Connected to the database

In [27]:
create_bds_table(cursor)
create_nhatot_table(cursor)
create_batdongsan_table(cursor)
create_alonhadat_table(cursor)

In [28]:
insert_data(nhatot, conn, cursor, 'nhatot')
insert_data(batdongsan, conn, cursor, 'batdongsan')
insert_data(alonhadat, conn, cursor, 'alonhadat')

UniqueViolation: duplicate key value violates unique constraint "nhatot_pkey"
DETAIL:  Key (post_id)=(110540453) already exists.

In [ ]:
insert_from_nhatot(cursor)
insert_from_batdongsan(cursor)
insert_from_alonhadat(cursor)

In [ ]:
# close_connection(conn, cursor)